@model Dictionary<string, string>
@{
    ViewBag.Title = "제품";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <img src="@item.Value" style="width:100%; height:100%;">
            <h4 style="font-weight:bold">@item.Key</h4>
            <p></p>
        </div>
    }
</div>